{{>navigation}}

<div class="container m-5 ">
    <div class="row">
        <div class="col-md-6">
            <a href="/config/departamentos">
                <div class="card">
                <div class="card-body">
                <h4>Departamentos</h4>
                </div>
            </div>
            </a>
        </div>
         <div class="col-md-6">
             <a href="/config/cargos">
                 <div class="card">
                <div class="card-body">
                <h4>Cargos</h4>
                </div>
            </div> 
             </a>
        </div>
    </div>
</div>

{{>message}}

    {{#if datos.departamentos}}
        {{> table_departamentos}}
    {{/if}}

    {{#if datos.cargos}}
      {{> table_cargos}}
    {{/if}}

  