{{>navigation}}
<div class="container m-5 ">
    <div class="row">
        <div class="col-md-4">
            <a href="/dashboard/empleados">
                <div class="card">
                <div class="card-body">
                <h4>Empleados</h4>
                </div>
            </div>
            </a>
        </div>
         <div class="col-md-4">
             <a href="/dashboard/asistencia">
                 <div class="card">
                <div class="card-body">
                <h4>historial de asistencia</h4>
                </div>
            </div> 
             </a>
        </div>
        <div class="col-md-4">
            <a href="/dashboard/user">
                 <div class="card">
                <div class="card-body">
                <h4>Usuarios</h4>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>

{{>message}}

    {{#if datos.empleados}}
        {{> table_personal}}
    {{/if}}

    {{#if datos.asistencia}}
      {{> table_asistencia}}
    {{/if}}

    {{#if datos.usuario}}
      {{> table_usuarios}}
    {{/if}}


