

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto ">
            <div class="card">
                <div class="card-header">
                    <h4>Cargos de la empresa</h4>
                </div>
                <div class="card-body">
                    <table class="table" >
                        <thead>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Departamento </th>
                        </thead>
                        <tbody>
                         {{#each  resultados }}
                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{nombre_cargo}}</td>
                                    <td>{{departamento}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mx-auto ">
            <button type="button"  data-toggle="modal" data-target="#exampleModal" class="btn btn-block btn-primary" >
                Registrar nuevo cargo
            </button>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Registrar Nuevo cargo </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="newCargo" method="POST">
            <div class="form-group">
                <label for="">Nombre del cargo</label>
                <input type="text" class="form-control" name="nombre_cargo" id="nombe_carg"  >
            </div>
             <div class="form-group">
                <label for="">Departamento</label>
               <select name="departamento" id="dep_cargo" class="form-control">
                   <option value="">Seleccionar</option>

               </select>
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" >
                    Registrar
                </button>
            </div>         
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/formulario.js"></script>
